.haulylab-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9090;
    margin: 0;
    padding: 0;
    float: left;
    
    text-transform: uppercase;
    
    background: #1f1f1f;
    width: 100%;
    color: lighten(#1f1f1f, 40);
    
    
    a {
        color: lighten(#1f1f1f, 40);
        text-decoration: none;
        font-size: 12px;
        
        &:hover {
            color: lighten(#1f1f1f, 60);
        }
    }
    
    ul {
        margin: 0;
        padding: 0;
        
        li {
            float: left;
            width: auto;
            position: relative;
            list-style: none;
            margin: 0;
            padding: 0;
            
            border-right: 1px solid lighten(#1f1f1f, 20);
            
            a {
                padding: .25em 1em;
                display: block;
            }
            
            &:hover {
                ul {
                    display: block;
                }
            }
            
            ul {
                position: absolute;
                display: none;
                z-index: 9090;
                
                li {
                    float: none;
                    white-space: nowrap;
                    
                    border-right: none;
                    /*border-bottom: 1px solid lighten(#1f1f1f, 20);*/
                    
                    a {
                        background-color: lighten(#1f1f1f, 10);
                    }
                }
                
                ul {
                    position: relative;
                    display: none;
                }
            }
        }
    }
    
    &--action {
        float: right;
        
        li:last-child {
            
            ul {
                left: initial;
                right: 0;
            }
        }
    }
}
